
@model MiniNetflix.Presentation.ViewModelError.GenreViewModel
<div class="w-full h-dvh background">
    <div class="w-full flex justify-center pt-20">
        <div class="w-[60%] mx-auto bg-gray-900 p-10 rounded-2xl">
            <h1 class="text-white text-3xl font-bold mb-10">Update Genre</h1>
        <form method="PUT" id="form">
                <label class="flex flex-col gap-y-2 text-white text-xl font-normal mb-4">
                    Genre Name
                    <input type="text" asp-for="Name" name="Name" value="@ViewBag.Genre.Name" class="rounded-xl p-[10px] bg-gray-800 text-white text-[16px]" required/>
                    <span class="text-danger" asp-validation-for="Name"></span>
                </label>
            <button class="btn btn-success">Update Genre </button>
        </form>
    </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="module">
        import { handleSubmitGenre } from '/js/sentData/genreForm.js';
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('form');

            form.addEventListener('submit', async (e) => {
                e.preventDefault();
                if ($(form).valid()) {
                    await handleSubmitGenre(form);
                }
            });
        });
    </script>
}

